unstatisticdafgkdev/PartialArmTemplates/ArmTemplate_9_13_2021_12_21_53.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "unstatisticdafgkdev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/first_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "first_pipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-09-08T11:19:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								15
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/unstatistic-extract-countries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Extract data from csv file to SQL database.",
				"activities": [
					{
						"name": "Copy countries to SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SP PipelineExecutionHistory_Create",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[countriesref_untyped];",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "alpha-2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "alpha-2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "alpha-3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "alpha-3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "country-code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country-code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "iso_3166-2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "iso_3166-2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "sub-region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sub-region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "intermediate-region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "intermediate-region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "region-code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region-code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "sub-region-code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sub-region-code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "intermediate-region-code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "intermediate-region-code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_csv_countries",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dst_sql_countries",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "SP PipelineExecutionHistory_Create",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[usp_PipelineExecutionHistory_Create]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "unstatisticsqlsgkdevlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP PipelineExecutionHistory_Update",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set variable PipelineExecutionDescription",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy countries to SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[usp_PipelineExecutionHistory_Update]",
							"storedProcedureParameters": {
								"Description": {
									"value": {
										"value": "@variables('PipelineExecutionDescription')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@variables('PipelineExecutionStatus')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "unstatisticsqlsgkdevlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable PipelineExecutionDescription",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable PipelineExecutionStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineExecutionDescription",
							"value": "Fail"
						}
					},
					{
						"name": "Set variable PipelineExecutionStatus",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy countries to SQL",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineExecutionStatus",
							"value": "Fail"
						}
					}
				],
				"variables": {
					"PipelineExecutionDescription": {
						"type": "String",
						"defaultValue": "Succeed"
					},
					"PipelineExecutionStatus": {
						"type": "String",
						"defaultValue": "Succeed"
					}
				},
				"folder": {
					"name": "unstatistic"
				},
				"annotations": [
					"extract"
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_csv_countries')]",
				"[concat(variables('factoryId'), '/datasets/dst_sql_countries')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_csv_countries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticstac",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ISOcountries.csv",
						"folderPath": "CrimeStat.Source.Countries",
						"container": "unstatistic-sourcefiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "alpha-2",
						"type": "String"
					},
					{
						"name": "alpha-3",
						"type": "String"
					},
					{
						"name": "country-code",
						"type": "String"
					},
					{
						"name": "iso_3166-2",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					},
					{
						"name": "sub-region",
						"type": "String"
					},
					{
						"name": "intermediate-region",
						"type": "String"
					},
					{
						"name": "region-code",
						"type": "String"
					},
					{
						"name": "sub-region-code",
						"type": "String"
					},
					{
						"name": "intermediate-region-code",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_sql_countries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsgkdevlinkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SourceItemId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "alpha-2",
						"type": "nvarchar"
					},
					{
						"name": "alpha-3",
						"type": "nvarchar"
					},
					{
						"name": "country-code",
						"type": "nvarchar"
					},
					{
						"name": "iso_3166-2",
						"type": "nvarchar"
					},
					{
						"name": "region",
						"type": "nvarchar"
					},
					{
						"name": "sub-region",
						"type": "nvarchar"
					},
					{
						"name": "intermediate-region",
						"type": "nvarchar"
					},
					{
						"name": "region-code",
						"type": "nvarchar"
					},
					{
						"name": "sub-region-code",
						"type": "nvarchar"
					},
					{
						"name": "intermediate-region-code",
						"type": "nvarchar"
					},
					{
						"name": "sysCreatedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedAt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "sysChangedBy",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sysCreatedBy",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "countriesref_untyped"
				}
			},
			"dependsOn": []
		}
	]
}